In [67]:
# 모듈 호출
import pandas as pd
import numpy as np
import csv

In [68]:
#data = pd.read_csv('./average_one.csv')
data = pd.read_csv('./average_group_correct.csv')
data.head()

,Unnamed: 0,mon,tue,wed,thu,fri,sat,sun,group
0,01d1ad9a-7477-4d69-9a24-9e64a2d96eb7,7645.75,7922.50,7229.50,8785.5,7073.75,7108.75,7356.50,balance
1,3d5725ec-5d49-427e-93b3-52a6f8c28255,11482.75,11040.25,10327.00,11675.0,10397.50,9656.25,10388.00,balance
2,60df3df9-2052-4558-9494-065e0356bdb0,1669.50,1662.75,2137.25,1647.5,1319.75,1069.00,1378.75,balance
3,638b3104-ac20-4c87-8c05-b8456804a0eb,2600.25,3063.50,2654.00,4049.0,2985.25,3041.75,2366.25,balance
4,a03d16d2-9fd0-42b3-b3bc-085c0a384578,9060.75,9718.75,8364.25,7053.0,7797.00,8393.50,7493.50,balance

In [69]:
cols = list(data.columns)
df = data[cols[1:]]

In [70]:
df.iloc[0, :7]

mon    7645.75
tue     7922.5
wed     7229.5
thu     8785.5
fri    7073.75
sat    7108.75
sun     7356.5
Name: 0, dtype: object

In [71]:
# 분산 구하기
for i in range(0, len(df)):
    a= df.iloc[i, :7]*0.001
    v = np.var(a) # 분산
    print(i, data.iloc[i,0], v)

0 01d1ad9a-7477-4d69-9a24-9e64a2d96eb7 0.31792487244897977
1 3d5725ec-5d49-427e-93b3-52a6f8c28255 0.44226420408163303
2 60df3df9-2052-4558-9494-065e0356bdb0 0.09927060204081632
3 638b3104-ac20-4c87-8c05-b8456804a0eb 0.25418863265306135
4 a03d16d2-9fd0-42b3-b3bc-085c0a384578 0.7222936377551019
5 af7d0d39-8901-4c94-990a-7abad4c83c25 0.255525387755102
6 d0705e29-5e73-489c-aa29-39be3de807a5 0.24859248979591836
7 d8910108-4e98-4f30-a36c-cc5f1a243305 1.9798844285714288
8 176b21ef-1b8c-42fe-99a0-347cda1f7d97 1.5978833163265296
9 76d90bf9-c48b-4c93-9fed-106180a3e09d 0.23734564030612262
10 9c695a2e-721e-4d21-9af2-65f759fa980f 3.1502970663265297
11 d2624dea-31aa-428a-b4d1-e695fe88f936 2.718528622448979
12 0e409b44-467b-4169-8629-b7c1d7439609 1.497575275510204
13 2d489b8a-d967-42af-ae24-38c05d873869 3.0368205153061223
14 7658fb28-138c-401d-b0ac-bdf584640cad 4.318401489795917
15 85852210-1df7-4561-a82b-73299eaca7a1 0.9290366071428574
16 a1c8b651-974d-4300-bbd8-0b57419979b4 3.2244457576530614
17 a8cf0a72-e046-4a88-9f00-fd60f96c500a 3.4803343647959193
18 b024a4cf-240a-4b10-bf9e-753f98173f05 2.6748388903061233
19 d8da2026-a4fc-48a6-91cc-1f4e33aeabac 2.690948660714286
20 e2546171-cf67-4893-80b6-d4a8fb2a4678 2.915054693877551
21 1815ca29-4097-48a0-9cdb-85ff96da596e 3.2802082474489795
22 19a44239-7863-43b5-83b3-6470fe1a53f5 6.352634479591836
23 33240665-ee96-40a2-89da-0dd772e1a61d 11.174842221938775
24 3a4ea689-6909-4068-8466-db04a0e0fe25 0.7694204617346939
25 55adad23-3c45-4fd7-9f3c-0a5ada282479 5.837110926020409
26 5b8ca018-2fc6-4d8f-92dd-1181e35ac375 5.40592081632653
27 7f591956-a299-4ecf-a90b-e53596a36f47 2.0747773188775507
28 86ceb455-35f2-4586-a748-25071609ce42 6.379702497448979
29 c14c1319-039e-4f3c-bf1c-4484f9263991 6.639839568877551
30 d371e931-6bd1-4a87-93d1-3b4668497170 2.626548890306123
31 e0bd92ed-6a84-4c1c-a71b-7e75f2f8a14d 5.963320339285715
32 f4929244-f1f2-4320-8035-1253e0c470c4 13.859086829081633
33 1cc74ce1-3b39-407e-9ac9-fc5bbfbe7fc7 1.6166447755102042
34 24fbaf8c-445c-4571-9956-93a3be06fff2 1.180844739795918
35 3f16a9fd-c1ab-4079-b89b-5d8a863ce3a4 1.6166447755102042
36 5bdc93e2-f921-4c36-b5e3-dff0d9503483 4.908324387755102
37 66611df4-18d3-4283-9b87-841b342ecde3 4.255818586734693
38 8b92d8ef-5268-442a-a5bb-2e3dee811836 4.7758219591836735
39 9b9ae29d-c962-45eb-a6db-17fd9983866f 2.391030173469388
40 9c511085-bc1f-4941-9203-7a800533e01a 5.770641374999999
41 a0781422-815e-4d1e-8f08-cd2ab4603c65 2.2096081938775507
42 bd5fbd0d-c894-42a4-8e58-65292ef81b23 1.8667163010204084
43 c4e659df-e0a2-4212-a199-19d770e32c1f 1.6166447755102042
44 c9f68c88-3f9c-46f7-ba4e-fceb8bbbe372 1.6166447755102042
45 cf2cd23f-0ea6-4f73-83d8-2d10d9b2dbf9 11.236670096938777
46 ea21e0de-e964-4f6e-a646-bdda99f8031b 5.179938178571429
47 2e0b4b5e-86a2-4bc5-834a-a4a0b4d81689 3.417304426020408
48 9a0a3e92-141f-4a69-95a6-9b680c8e0e80 1.5414332806122444
49 e5df0d85-af37-46e0-afb9-a8637fee4a07 1.4350716581632657
50 f5c8e00c-99fa-46e3-ad32-40e2f4eb34ae 1.8051131785714294
51 4309858f-510d-4076-9865-2d4e4af761b9 1.974146173469388
52 7a61501a-4c61-43ce-acb2-212334ef943e 5.711534709183675
53 c7ae0bf3-af99-49e9-b881-f69e350b5264 17.48103422193877
54 1fdf9858-53df-42f6-bbfb-c18f57e57efa 7.843532454081633
55 739d7452-aaa4-4db3-ac50-6e713079402b 13.1719951377551
56 c9df7f3e-b0c8-44d4-818f-f54186a5e608 31.556716051020405
57 b15f1b75-3f84-4ccb-a6a6-be2b7f7e3033 1.0172586045918368
58 8a68a179-4231-4e97-9dc7-c3a70f8bf287 0.32898067602040826
59 8acccf4b-8eb9-4a6a-a2c8-ba5f52e267bc 0.24996142857142853
60 630e16cd-1abb-4fe3-8ba6-37c3a4c6a44f 30.05261892346939
61 82d97b6e-9ba3-4b87-81f8-2ae2fdb2d6f5 7.769353704081634
62 b2c5d486-feb5-4b0e-841d-c29529622216 1.1219398647959185
63 bdddf5c8-eaef-4142-a895-1e9b7e495dd8 1.6672000969387757
64 c12b676c-6f4b-429d-8388-d9855edbdbc6 4.806588586734693
65 8adc8233-118d-45f2-b24b-1e5e9e799b29 9.246088007653062
66 9fcb3f6f-fabb-4593-aaca-e12dff70229f 2.633705584183674
67 c638ca19-bb8e-4435-944c-03b12494bdbb 1.9539816147959184
68 d24fdf38-e256-4f79-9c10-eaf475e866ef 1.5516418545918371
69 01085f57-fb63-4053-bf69-e24b429a03f4 3.6730730306122448
70 230db375-b2c5-48de-89bf-d06b3607a53b 3.3760395790816333
71 23fd38ad-fe9f-4257-ba4b-106c78064e2e 1.0974742831632656
72 4c7da51e-61e9-41b3-8bfe-9d0396577722 2.1851197984693878
73 788ed5c4-43fd-40e5-bc5d-d54bdce1a3d1 17.31452468622449

In [72]:
result_csv = open('continue_rate_var_correct.csv', 'w', encoding='utf-8', newline='')
wr = csv.writer(result_csv)
wr.writerow(['name', 'mon_tue', 'tue_wed', 'wed_thu', 'thu_fri', 'fri_sat', 'sat_sun', 'sum', 'means', 'mm', 'var'])

for i in range(0, len(df)):
    name = data.iloc[i, 0]
    # 연속된 두 요일의 증감률
    array = []

    # 분산 구하기
    a = df.iloc[i, :7]*0.001
    v = np.var(a)
    
    for j in range(1, 7):
        prev = df.iloc[i, j-1] # j-1 : 0, 1, 2, 3, 4, 5
        next = df.iloc[i, j] # j : 1, 2, 3, 4, 5, 6
        array.append(((next - prev)/prev)*100)

    count = 0
    sum = 0
    for j in range(0,6):
        sum += array[j]
        if abs(array[j])>=300:
            count += 1
    means = sum/6
    
    min_num = min(df.iloc[i, :7])
    max_num = max(df.iloc[i, :7])
    mm = (max_num-min_num)*0.001
    if count == 0:
        wr.writerow([name, array[0], array[1], array[2], array[3], array[4], array[5], sum, means, mm, v])
        #print(i, name, array[0], array[1], array[2], array[3], array[4], array[5], v)

In [73]:
result_csv.close()